
@{
    ViewBag.Title = "UnidadNegocio";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css" />
<style>
    .dataTables_wrapper .dataTables_paginate .paginate_button {
        box-sizing: border-box;
        display: inline-block;
        min-width: 1.5em;
        padding: 0.5em 1em;
        margin-left: 2px;
        text-align: center;
        text-decoration: none !important;
        cursor: pointer;
        *cursor: hand;
        /*        color: #333 !important;*/
        /*      border: 1px solid transparent;*/
        /*     border-radius: 2px;*/

        color: #697a8d;
        background-color: #f0f2f4;
        border: 0px solid #d9dee3;
        transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }

        .dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
            border-color: #696cff;
            background-color: #696cff;
            color: #fff !important;
            border: 1px solid #696cff;
            background-color: white;
            /*            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fff), color-stop(100%, #dcdcdc));
            background: -webkit-linear-gradient(top, #fff 0%, #dcdcdc 100%);
            background: -moz-linear-gradient(top, #fff 0%, #dcdcdc 100%);
            background: -ms-linear-gradient(top, #fff 0%, #dcdcdc 100%);
            background: -o-linear-gradient(top, #fff 0%, #dcdcdc 100%);*/
            background: linear-gradient(to bottom, #696cff 0%, #696cff 100%);
            box-shadow: 0 0.125rem 0.25rem rgba(105, 108, 255, 0.4);
        }

        .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
            color: #697a8d !important;
            border: 0px solid #fff;
            background-color: #585858;
            /* background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #585858), color-stop(100%, #111)); */
            /* background: -webkit-linear-gradient(top, #585858 0%, #111 100%); */
            background: -moz-linear-gradient(top, #585858 0%, #111 100%);
            background: -ms-linear-gradient(top, #585858 0%, #111 100%);
            background: -o-linear-gradient(top, #585858 0%, #111 100%);
            background: linear-gradient(to bottom, #e9eaeb 0%, #eaeaeb 100%);
            border-color: rgba(67, 89, 113, 0.3);
        }

    .dataTables_wrapper .dataTables_filter input {
        border: 1px solid #d9dee3;
        border-radius: 5px;
        padding: 5px;
        background-color: transparent;
        margin-left: 3px;
        color: #697a8d;
    }
</style>

<style>



    .b-skills {
        border-top: 1px solid #f9f9f9;
        padding-top: 10px;
        text-align: center;
    }

        .b-skills:last-child {
            margin-bottom: -30px;
        }

        .b-skills h2 {
            margin-bottom: 50px;
            font-weight: 900;
            text-transform: uppercase;
        }

    .skill-item {
        position: relative;
        max-width: 90px;
        width: 100%;
        color: #555;
        margin-left: 25px;
    }

    .chart-container {
        position: relative;
        width: 100%;
        height: 0;
        padding-top: 100%;
        margin-bottom: 5px;
    }

    .skill-item .chart,
    .skill-item .chart canvas {
        position: absolute;
        top: 0;
        left: 0;
        width: 100% !important;
        height: 100% !important;
    }

        .skill-item .chart:before {
            content: "";
            width: 0;
            height: 100%;
        }

        .skill-item .chart:before,
        .skill-item .percent {
            display: inline-block;
            vertical-align: middle;
        }

    .skill-item .percent {
        position: relative;
        line-height: 1;
        font-size: 20px;
        font-weight: 900;
        z-index: 2;
    }

        .skill-item .percent:after {
            content: attr(data-after);
            font-size: 20px;
        }

    p {
        font-weight: 500;
        FONT-SIZE: 10px;
    }
</style>


<div class="row">
    <div class="col-lg-12 ">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <h5 class="card-header">
                        <i class='bx bx-box me-1'></i> CONTACTOS POR UNIDAD DE NEGOCIO:
                        @if (ViewBag.Contactos != null)
                        {
                            @ViewBag.Contactos[0].Contacto.Persona.CatUnidadNegocio.Nombre;
                        }
                    </h5>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-12">

                                <div class="table-responsive text-nowrap">
                                    <table class="table table-hover table-striped" id="TableListaContactos">
                                        <thead>
                                            <tr>
                                                <th style="width: 200px !Important;">Nombre  </th>
                                                <th>Email  </th>
                                                <th>Teléfono   </th>
                                                <th>Celular    </th>
                                                <th>Cargo </th>
                                                <th>Empresa </th>
                                                <th>Propietario del registro</th>
                                                <th>Unidad de negocio </th>
                                                <th>Tipo contacto </th>
                                                <th>Fecha creación </th>
                                                <th>Fecha última actividad</th>
                                                <th>Estatus</th>
                                            </tr>
                                        </thead>
                                        <tfoot>
                                            <tr>
                                                <th style="width: 200px !Important;">Nombre  </th>
                                                <th>Email  </th>
                                                <th>Teléfono   </th>
                                                <th>Celular    </th>
                                                <th>Cargo </th>
                                                <th>Empresa </th>
                                                <th>Propietario del registro</th>
                                                <th>Unidad de negocio </th>
                                                <th>Tipo contacto </th>
                                                <th>Fecha creación </th>
                                                <th>Fecha última actividad</th>
                                                <th>Estatus</th>
                                            </tr>
                                        </tfoot>
                                        <tbody class="table-border-bottom-0">
                                            @if (ViewBag.Contactos != null)
                                            {
                                                foreach (var item1 in ViewBag.Contactos)
                                                {
                                                    <tr>
                                                        <td onclick="MostrarContacto(@item1.Contacto.Persona.Id)"> <strong style="cursor: pointer; ">@item1.Contacto.Persona.Nombre @item1.Contacto.Persona.ApellidoPaterno @item1.Contacto.Persona.ApellidoMaterno</strong></td>
                                                        <td>@item1.Contacto.Persona.Email.email</td>
                                                        <td>@item1.Telefono</td>
                                                        <td>@item1.Celular</td>
                                                        <td>@item1.Contacto.CatCargo.Nombre</td>
                                                        <td>@item1.Empresa</td>
                                                        <td>@item1.Contacto.Propietario</td>
                                                        <td>@item1.Contacto.Persona.CatUnidadNegocio.Nombre</td>
                                                        <td>@item1.Contacto.Persona.CatTipoPersona.Nombre</td>
                                                        <td>@Convert.ToDateTime(@item1.Contacto.FechaRegistro).ToString("yyyy-MM-dd")</td>
                                                        <td>-</td>
                                                        <td><span class="badge bg-label-@item1.Contacto.Persona.CatEstatusPersona.Color me-1">@item1.Contacto.Persona.CatEstatusPersona.Nombre</span></td>
                                                    </tr>
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>

<script>

    $('#TableListaContactos').DataTable({
        scrollY: 420,
        scrollX: true,
        columnDefs: [
            {
                /* "orderable": false,*/
                //"targets": [0, 8],
                //"width": "0px"
            }
        ],
        "language": {
            "url": "//cdn.datatables.net/plug-ins/1.10.15/i18n/Spanish.json"
        },
        "pageLength": 10,
    });

    function MostrarContacto(num) {
        var obj = {};

        obj['UrlVaible'] = num;

        var jsonObject = {
            "URL": obj
        };

        $.ajax({
            type: "POST",
            url: "@Url.Action("URL_Cifrar", "URLS")",
            async: false,
            data: JSON.stringify(jsonObject),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (result) {
                window.location.href = '@Url.Action("Contacto", "Contacto")?cont=' + result.Url;
            },
            error: function () {
                AlertDanger("Problemas al consultar ", "Intentolo mas tarde.");
            }
        });
    }
</script>

<script>
    $('#Nv1Contacto').addClass("active open");
    $('#Nv2ContactoLista').addClass("active");
</script>