
@{
    ViewBag.Title = "Crear";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Toast with Placements -->
<div class="bs-toast toast toast-placement-ex m-2" role="alert" aria-live="assertive" aria-atomic="true" data-delay="5000">
    <div class="toast-header">
        <i class="bx bx-bell me-2"></i>
        <div class="me-auto fw-semibold" id="AlertaTitulo"></div>
        <small id="AlertaFecha"></small>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body" id="AlertaTexto"></div>
</div>

<div class="card mb-4">
    <h5 class="card-header">Empresa</h5>
    <!-- Basic Pagination -->
    <div class="card-body">
        <div class="row">
            <div class="col">
                <small class="text-light fw-semibold">Completa los campos marcados *</small>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="mb-3">
                    <label class="form-label" for="basic-icon-default-fullname">* Nombre </label>
                    <div class="input-group input-group-merge">
                        <span id="basic-icon-default-fullname2" class="input-group-text">
                            <i class="bx bx-building-house"></i>
                        </span>
                        <input type="text" class="form-control" id="Empresa_Nombre" placeholder="Nombre" aria-label="" aria-describedby="Empresa_Nombre" onchange="ValidaInput('Empresa_Nombre')" onkeyup="BusquedaEmpresaNombre(this);" />
                    </div>
                    <button class="btn btn-primary" type="button" id="BtnAbrirBusqueda" data-bs-toggle="offcanvas" data-bs-target="#offcanvasBusquedaEmpresa" aria-controls="offcanvasBusquedaEmpresa" style="display:none"> DF
                    </button>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="mb-3">
                    <label class="form-label" for="basic-icon-default-fullname">Alias </label>
                    <div class="input-group input-group-merge">
                        <span id="basic-icon-default-fullname2" class="input-group-text">
                            <i class="bx bx-building"></i>
                        </span>
                        <input type="text" class="form-control" id="Empresa_Alias" placeholder="Alias" aria-label="" aria-describedby="Empresa_Alias" onkeyup="Mayus(this);" />
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="mb-3">
                    <label class="form-label" for="basic-icon-default-fullname">RFC</label>
                    <div class="input-group input-group-merge">
                        <span id="basic-icon-default-fullname2" class="input-group-text">
                            <i class="bx bx-building"></i>
                        </span>
                        <input type="text" class="form-control" id="Empresa_RFC" placeholder="RFC" aria-label="" aria-describedby="Empresa_RFC" onkeyup="Mayus(this);" />
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="mb-3">
                    <label class="form-label" for="basic-icon-default-fullname">* Numero Empleados</label>
                    <select id='Empresa_NumeroEmpleados' class="form-select" aria-label="Empresa_NumeroEmpleados" onchange="ValidaSelect('Empresa_NumeroEmpleados')">
                        <option value="0" selected>SELECCIONAR</option>
                        @foreach (var item in ViewBag.NumeroEmpleados)
                        {
                            <option value="@item.Id">@item.Nombre.ToUpper()</option>
                        }
                    </select>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="mb-3">
                    <label class="form-label" for="basic-icon-default-fullname">* Ingresos anuales</label>
                    <select id='Empresa_IngresosAnuales' class="form-select" aria-label="Empresa_IngresosAnuales" onchange="ValidaSelect('Empresa_IngresosAnuales')">
                        <option value="0" selected>SELECCIONAR</option>
                        @foreach (var item in ViewBag.IngresoAnual)
                        {
                            <option value="@item.Id">@item.Nombre.ToUpper()</option>
                        }
                    </select>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="mb-3">
                    <label class="form-label" for="basic-icon-default-fullname">* Industria</label>
                    <div class="input-group">
                        <select id='Empresa_Industria' class="form-select" aria-label="Empresa_Industria" onchange="ValidaSelect('Empresa_Industria')">
                            <option value="0" selected>SELECCIONAR</option>
                            @if (ViewBag.Industrias != null)
                            {
                                foreach (var item in ViewBag.Industrias)
                                {
                                <option value="@item.Id">@item.Nombre.ToUpper()</option>
                                }
                            }
                        </select>
                        <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasIndustria" aria-controls="offcanvasIndustria">+</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="mb-3">
                    <label class="form-label" for="basic-icon-default-fullname">* Tipo </label>
                    <div class="input-group">
                        <select id='Empresa_Tipo' class="form-select" aria-label="Empresa_Tipo" onchange="ValidaSelect('Empresa_Tipo')">
                            <option value="0" selected>SELECCIONAR</option>
                            @foreach (var item in ViewBag.TipoEmpresa)
                            {
                                <option value="@item.Id">@item.Nombre.ToUpper()</option>
                            }
                        </select>
                        <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasTipo" aria-controls="offcanvasTipo">+</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="mb-3">
                    <label class="form-label" for="basic-icon-default-fullname">* Fuente de origen</label>
                    <div class="input-group">
                        <select id='Empresa_FuenteOrigen' class="form-select" aria-label="Empresa_FuenteOrigen" onchange="ValidaSelect('Empresa_FuenteOrigen')">
                            <option value="0" selected>SELECCIONAR</option>
                            @foreach (var item in ViewBag.FuenteOrigen)
                            {
                                <option value="@item.Id">@item.Nombre.ToUpper()</option>
                            }
                        </select>
                        <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasFuenteOrigen" aria-controls="offcanvasFuenteOrigen">+</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="mb-3">
                    <label class="form-label" for="basic-icon-default-fullname">* Unidad de negocio </label>
                    <div class="input-group">
                        <select id='Empresa_UnidadNegocio' class="form-select" aria-label="Empresa_UnidadNegocio" onchange="ValidaSelect('Empresa_UnidadNegocio')">
                            <option value="0" selected>SELECCIONAR</option>
                            @foreach (var item in ViewBag.UnidadNegocio)
                            {
                                <option value="@item.Id">@item.Nombre.ToUpper()</option>
                            }
                        </select>
                        <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasUnidadNegocio" aria-controls="offcanvasUnidadNegocio">+</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="mb-3">
                    <label class="form-label" for="basic-icon-default-fullname">Pagina corporativa </label>
                    <div class="input-group input-group-merge">
                        <span id="basic-icon-default-fullname2" class="input-group-text">
                            <i class="bx bx-world"></i>
                        </span>
                        <input type="text" class="form-control" id="Empresa_PaginaCorporativa" placeholder="Pagina corporativa" aria-label="" aria-describedby="Empresa_PaginaCorporativa" />
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="mb-3">
                    <label class="form-label" for="basic-icon-default-fullname">* Propietario del registro de empresa  </label>
                    <select id='Empresa_Propietario' class="form-select" aria-label="Empresa_Propietario" onchange="ValidaSelect('Empresa_Propietario')" disabled>
                        <option value="0" selected>SELECCIONAR</option>
                        @foreach (var item in ViewBag.Usuarios)
                        {
                            if (((CRM.Models.Usuario)System.Web.HttpContext.Current.Session["Sesion"]).Id == item.Id)
                            {
                                <option value="@item.Id" selected>@item.Persona.Nombre.ToUpper() @item.Persona.ApellidoPaterno.ToUpper() @item.Persona.ApellidoMaterno.ToUpper()</option>
                            }
                            else
                            {
                                <option value="@item.Id">@item.Persona.Nombre.ToUpper() @item.Persona.ApellidoPaterno.ToUpper() @item.Persona.ApellidoMaterno.ToUpper()</option>
                            }
                        }
                    </select>
                </div>
            </div>
            <div class="col-lg-12">
                <label for="exampleFormControlTextarea1" class="form-label">Descripción </label>
                <textarea class="form-control" id="Empresa_Descripcion" rows="3" onkeyup="Mayus(this);"></textarea>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="demo-inline-spacing">
                    <button type="button" class="btn btn-primary" style="width: 100%;" onclick="BtnGuardarEmpresa()">
                        <span class="tf-icons bx bx-save"></span>&nbsp; Guardar
                    </button>
                </div>
            </div>
        </div>

    </div>
</div>

<!---  FORMULARIO NUEVA INDUSTRIA  -->
<div class="offcanvas offcanvas-end" data-bs-scroll="true" tabindex="-1" id="offcanvasIndustria" aria-labelledby="offcanvasBothLabel">
    <div class="offcanvas-header">
        <h5 id="offcanvasBothLabel" class="offcanvas-title">NUEVA INDUSTRIA</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body my-auto mx-0 flex-grow-0">
        <div class="row">
            <div class="col-lg-12">
                <div class="mb-3">
                    <label class="form-label" for="basic-icon-default-fullname">* Nombre Industria</label>
                    <div class="input-group input-group-merge">
                        <span id="basic-icon-default-fullname2" class="input-group-text">
                            <i class="bx bx-building-house"></i>
                        </span>
                        <input type="text" class="form-control" id="Industria_Nombre" placeholder="Industria" aria-label="" aria-describedby="Industria_Nombre" onchange="ValidaInput('Industria_Nombre')" onkeyup="Mayus(this);" />
                    </div>
                </div>
            </div>
        </div>
        <button type="button" class="btn btn-primary mb-2 d-grid w-100" onclick="BtnRegistrarIndustria()">Registrar </button>
        <button type="button" class="btn btn-outline-secondary d-grid w-100" data-bs-dismiss="offcanvas" id="BtnIndustriaCerrar">  Cancelar  </button>
    </div>
</div>

<!---  FORMULARIO NUEVO TIPO EMPREA  -->
<div class="offcanvas offcanvas-end" data-bs-scroll="true" tabindex="-1" id="offcanvasTipo" aria-labelledby="offcanvasBothLabel">
    <div class="offcanvas-header">
        <h5 id="offcanvasBothLabel" class="offcanvas-title">NUEVO TIPO DE EMPRESA</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body my-auto mx-0 flex-grow-0">
        <div class="row">
            <div class="col-lg-12">
                <div class="mb-3">
                    <label class="form-label" for="basic-icon-default-fullname">* Nombre tipo empresa</label>
                    <div class="input-group input-group-merge">
                        <span id="basic-icon-default-fullname2" class="input-group-text">
                            <i class="bx bx-building-house"></i>
                        </span>
                        <input type="text" class="form-control" id="TipoEmpresa_Nombre" placeholder="Tipo empresa" aria-label="" aria-describedby="TipoEmpresa_Nombre" onchange="ValidaInput('TipoEmpresa_Nombre')" onkeyup="Mayus(this);" />
                    </div>
                </div>
            </div>
        </div>
        <button type="button" class="btn btn-primary mb-2 d-grid w-100" onclick="BtnRegistrarTipo()">Registrar </button>
        <button type="button" class="btn btn-outline-secondary d-grid w-100" data-bs-dismiss="offcanvas" id="BtnTipoEmpresaCerrar">  Cancelar  </button>
    </div>
</div>

<!---  FORMULARIO NUEVA FUENTE DE ORIGEN   -->
<div class="offcanvas offcanvas-end" data-bs-scroll="true" tabindex="-1" id="offcanvasFuenteOrigen" aria-labelledby="offcanvasBothLabel">
    <div class="offcanvas-header">
        <h5 id="offcanvasBothLabel" class="offcanvas-title">NUEVA FUENTE DE ORIGEN</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body my-auto mx-0 flex-grow-0">
        <div class="row">
            <div class="col-lg-12">
                <div class="mb-3">
                    <label class="form-label" for="basic-icon-default-fullname">* Nombre fuente de origen</label>
                    <div class="input-group input-group-merge">
                        <span id="basic-icon-default-fullname2" class="input-group-text">
                            <i class="bx bx-building-house"></i>
                        </span>
                        <input type="text" class="form-control" id="FuenteOrigen_Nombre" placeholder="Fuente de origen" aria-label="" aria-describedby="FuenteOrigen_Nombre" onchange="ValidaInput('FuenteOrigen_Nombre')" onkeyup="Mayus(this);" />
                    </div>
                </div>
            </div>
        </div>
        <button type="button" class="btn btn-primary mb-2 d-grid w-100" onclick="BtnRegistrarFuenteOrigen()">Registrar </button>
        <button type="button" class="btn btn-outline-secondary d-grid w-100" data-bs-dismiss="offcanvas" id="BtnFuenteOrigenCerrar">  Cancelar  </button>
    </div>
</div>

<!--- FORMULARIO NUEVA UNIDAD DE NEGOCIO -->
<div class="offcanvas offcanvas-end" data-bs-scroll="true" tabindex="-1" id="offcanvasUnidadNegocio" aria-labelledby="offcanvasBothLabel">
    <div class="offcanvas-header">
        <h5 id="offcanvasBothLabel" class="offcanvas-title">NUEVA UNIDAD DE NEGOCIO</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close" ></button>
    </div>
    <div class="offcanvas-body my-auto mx-0 flex-grow-0">
        <div class="row">
            <div class="col-lg-12">
                <div class="mb-3">
                    <label class="form-label" for="basic-icon-default-fullname">* Nombre unidad de negocio</label>
                    <div class="input-group input-group-merge">
                        <span id="basic-icon-default-fullname2" class="input-group-text">
                            <i class="bx bx-building-house"></i>
                        </span>
                        <input type="text" class="form-control" id="UnidadNegocio_Nombre" placeholder="Unidad de negocio" aria-label="" aria-describedby="UnidadNegocio_Nombre" onchange="ValidaInput('UnidadNegocio_Nombre')" onkeyup="Mayus(this);" />
                    </div>
                </div>
            </div>
        </div>
        <button type="button" class="btn btn-primary mb-2 d-grid w-100" onclick="BtnRegistrarUnidadNegocio()">Registrar </button>
        <button type="button" class="btn btn-outline-secondary d-grid w-100" data-bs-dismiss="offcanvas" id="BtnUnidadNegocioCerrar">  Cancelar  </button>
    </div>
</div>

<!---- BUSQUEDA DE EMPRESAS --->
<div id="offcanvasBusquedaEmpresa" class="offcanvas offcanvas-end" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" aria-labelledby="offcanvasScrollLabel">
    <div class="offcanvas-header">
        <h5 id="offcanvasScrollLabel" class="offcanvas-title">SIMILITUD EN NOMBRE DE EMPRESA</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body my-auto mx-0 flex-grow-0">
        <div class="row">
            <div class="text-nowrap" id="TablaBusquedaEmpresa">
                
            </div>
        </div>
        
        <br />
        <button type="button" class="btn btn-outline-secondary d-grid w-100" data-bs-dismiss="offcanvas" id="BtnBusquedaEmpresaCerrar">
            Cerrar
        </button>
    </div>
</div>


<script>
    function BtnGuardarEmpresa() {
        if (ValidForm()) {

            var CatIndustria = new Object();
            CatIndustria.Id = $("#Empresa_Industria option:selected").val();

            var CatTipoEmpresa = new Object();
            CatTipoEmpresa.Id = $("#Empresa_Tipo option:selected").val();

            var CatFuenteOrigen = new Object();
            CatFuenteOrigen.Id = $("#Empresa_FuenteOrigen option:selected").val();

            var CatNumeroEmpleados = new Object();
            CatNumeroEmpleados.Id = $("#Empresa_NumeroEmpleados option:selected").val();

            var CatIngresoAnual = new Object();
            CatIngresoAnual.Id = $("#Empresa_IngresosAnuales option:selected").val();

            var CatUnidadNegocio = new Object();
            CatUnidadNegocio.Id = $("#Empresa_UnidadNegocio option:selected").val();

            var Usuario = new Object();
            Usuario.Id = $("#Empresa_Propietario option:selected").val();

            var Empresa = new Object();
            Empresa.Nombre = $('#Empresa_Nombre').val();
            Empresa.Alias = $('#Empresa_Alias').val();
            Empresa.RFC = $('#Empresa_RFC').val();
            Empresa.Descripcion = $('#Empresa_Descripcion').val();
            Empresa.PaginaWeb = $('#Empresa_PaginaCorporativa').val();
            Empresa.CatIndustria = CatIndustria;
            Empresa.CatTipoEmpresa = CatTipoEmpresa;
            Empresa.CatFuenteOrigen = CatFuenteOrigen;
            Empresa.CatNumeroEmpleados = CatNumeroEmpleados;
            Empresa.CatIngresoAnual = CatIngresoAnual;
            Empresa.CatUnidadNegocio = CatUnidadNegocio;
            Empresa.Usuario = Usuario;

            $.ajax({
                type: "POST",
                url: "@Url.Action("Empresa_Agregar", "Empresa")",
                data: JSON.stringify(Empresa),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (respuesta) {
                    if (respuesta.Id > 0) {

                        swal({
                            title: "Nueva empresa registrada. !",
                            icon: "success",
                            buttons: {
                                cancelar: {
                                    text: "Empresas Registras", className: 'sweet-mostrar'
                                },
                                agregar: {
                                    text: "Agregar mas empresas", className: 'sweet-continuar'
                                },
                            },
                        })
                        .then((value) => {
                            switch (value) {

                                case "cancelar":
                                    
                                    window.location.href = '@Url.Action("Index", "Empresa")';
                                    break;

                                case "agregar":
                                    location.reload();
                                    break;
                            }
                        });


                    } else if (respuesta.Id == 0) {
                        AlertWarning("Problemas al registrar ", "Problemas al registrar la empresa.");
                    } else if (respuesta.Id == -1) {
                        AlertWarning("Problemas al registrar ", "El RFC que intentas agregar ya se encuentra registrado.");
                    } else if (respuesta.Id == -2) {
                        AlertWarning("Problemas al registrar ", "El nombre de le empresa que intentas agregar ya se encuentra registrado.");
                    }
                },
                error: function () {
                    AlertDanger("Problemas de conexión ", "Inténtelo mas tarde.");
                }
            });

        } else {
            AlertIncompleto();
        }
    }

    function ValidForm() {
        var result = false;

        $('#Empresa_Nombre').css("border", "1px solid #f44336");
        $('#Empresa_Nombre').css("border-left", "none");
        $('#Empresa_NumeroEmpleados').css("border", "1px solid #f44336");
        $('#Empresa_IngresosAnuales').css("border", "1px solid #f44336");
        $('#select2-Empresa_Industria-container').css("border", "1px solid #f44336");
        $('#select2-Empresa_Tipo-container').css("border", "1px solid #f44336");
        $('#select2-Empresa_FuenteOrigen-container').css("border", "1px solid #f44336");
        $('#select2-Empresa_UnidadNegocio-container').css("border", "1px solid #f44336");
        $('#select2-Empresa_Propietario-container').css("border", "1px solid #f44336");

        if ($('#Empresa_Nombre').val().length > 0) {
            $('#Empresa_Nombre').css("border", "1px solid #d9dee3");
            $('#Empresa_Nombre').css("border-left", "none");
        }

        if ($("#Empresa_NumeroEmpleados option:selected").val() > 0) {
            $('#Empresa_NumeroEmpleados').css("border", "1px solid #d9dee3");
        }
        if ($("#Empresa_IngresosAnuales option:selected").val() > 0) {
            $('#Empresa_IngresosAnuales').css("border", "1px solid #d9dee3");
        }

        if ($("#Empresa_Industria option:selected").val() > 0) {
            $('#select2-Empresa_Industria-container').css("border", "0px solid #d9dee3");
        }

        if ($("#Empresa_Tipo option:selected").val() > 0) {
            $('#select2-Empresa_Tipo-container').css("border", "0px solid #d9dee3");
        }

        if ($("#Empresa_FuenteOrigen option:selected").val() > 0) {
            $('#select2-Empresa_FuenteOrigen-container').css("border", "0px solid #d9dee3");
        }

        if ($("#Empresa_UnidadNegocio option:selected").val() > 0) {
            $('#select2-Empresa_UnidadNegocio-container').css("border", "0px solid #d9dee3");
        }

        if ($("#Empresa_Propietario option:selected").val() > 0) {
            $('#select2-Empresa_Propietario-container').css("border", "0px solid #d9dee3");
        }

        if ($('#Empresa_Nombre').val().length > 0) {
            if ($("#Empresa_NumeroEmpleados option:selected").val() > 0) {
                if ($("#Empresa_IngresosAnuales option:selected").val() > 0) {
                    if ($("#Empresa_Industria option:selected").val() > 0) {
                        if ($("#Empresa_Tipo option:selected").val() > 0) {
                            if ($("#Empresa_FuenteOrigen option:selected").val() > 0) {
                                if ($("#Empresa_UnidadNegocio option:selected").val() > 0) {
                                    if ($("#Empresa_Propietario option:selected").val() > 0) {
                                        result = true;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        return result;
    }
</script>

<script>

    function BtnRegistrarIndustria() {
        if (ValidaIndustria()) {
            var obj = {};
            obj['Nombre'] = $('#Industria_Nombre').val();

            var jsonObject = {
                "CatIndustria": obj
            };

            $.ajax({
                type: "POST",
                url: "@Url.Action("Industria_Agregar", "Industria")",
                async: false,
                data: JSON.stringify(jsonObject),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (result) {
                    if (result.Id == -1) {
                        AlertWarning("Problemas al registrar ", "La industria ya se encuentra registrada.");
                    } else if (result.Id == 0) {
                        AlertDanger("Problemas al registrar ", "Industria no registrada.");
                    } else if (result.Id > 0) {
                        CargaIndustria(result.Id);
                    }
                },
                error: function () {
                    AlertDanger("Problemas al registrar ", "Industria no registrada.");
                }
            });
        } else {
            AlertIncompleto();
        }
    }

    function CargaIndustria(Id) {

        $.ajax({
            type: "POST",
            url: "@Url.Action("Industria_Listar", "Industria")",
            async: false,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                if (data.length > 0) {

                    $("#Empresa_Industria").empty();

                    var option = $(document.createElement('option'));
                    option.text("SELECCIONAR");
                    option.val(0);

                    $("#Empresa_Industria").append(option);

                    $(data).each(function () {
                        var option = $(document.createElement('option'));

                        option.text(this.Nombre.toUpperCase());
                        option.val(this.Id);

                        $("#Empresa_Industria").append(option);
                    });
                }
                $('#Empresa_Industria option[value="' + Id + '"]').attr("selected", true);
                $('#Industria_Nombre').val('');
                $("#BtnIndustriaCerrar").trigger("click");
                AlertSuccess('Registro exitoso !','Nuevo industria registrada');
            },
            error: function () {
                AlertDanger("Problemas de conexión ", "Inténtelo mas tarde.");
            }
        });
    }

    function ValidaIndustria() {
        var result = false;

        $('#Industria_Nombre').css("border", "1px solid #f44336");
        $('#Industria_Nombre').css("border-left", "none");

        if ($('#Industria_Nombre').val().length > 0) {
            $('#Industria_Nombre').css("border", "1px solid #d9dee3");
            $('#Industria_Nombre').css("border-left", "none");
        }

        if ($('#Industria_Nombre').val().length > 0) {
            result = true;
        }

        return result;
    }
</script>

<script>

    function BtnRegistrarTipo() {
        if (ValidaTipo()) {
            var obj = {};
            obj['Nombre'] = $('#TipoEmpresa_Nombre').val();

            var jsonObject = {
                "CatTipoEmpresa": obj
            };

            $.ajax({
                type: "POST",
                url: "@Url.Action("TipoEmpresa_Agregar", "TipoEmpresa")",
                async: false,
                data: JSON.stringify(jsonObject),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (result) {
                    if (result.Id == -1) {
                        AlertWarning("Problemas al registrar ", "El tipo de empresa ya se encuentra registrada.");
                    } else if (result.Id == 0) {
                        AlertDanger("Problemas al registrar ", "Tipo de empresa no registrada.");
                    } else if (result.Id > 0) {
                        CargaTipoEmpresa(result.Id);
                    }
                },
                error: function () {
                    AlertDanger("Problemas al registrar ", "Tipo de empresa no registrada.");
                }
            });
        } else {
            AlertIncompleto();
        }
    }

    function CargaTipoEmpresa(Id) {

        $.ajax({
            type: "POST",
            url: "@Url.Action("TipoEmpresa_Listar", "TipoEmpresa")",
            async: false,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                if (data.length > 0) {

                    $("#Empresa_Tipo").empty();

                    var option = $(document.createElement('option'));
                    option.text("SELECCIONAR");
                    option.val(0);

                    $("#Empresa_Tipo").append(option);

                    $(data).each(function () {
                        var option = $(document.createElement('option'));

                        option.text(this.Nombre.toUpperCase());
                        option.val(this.Id);

                        $("#Empresa_Tipo").append(option);
                    });
                }
                $('#Empresa_Tipo option[value="' + Id + '"]').attr("selected", true);
                $('#TipoEmpresa_Nombre').val('');
                $("#BtnTipoEmpresaCerrar").trigger("click");
                AlertSuccess('Registro exitoso !','Nuevo tipo de empresa registrada');
            },
            error: function () {
                AlertDanger("Problemas de conexión ", "Inténtelo mas tarde.");
            }
        });
    }

    function ValidaTipo() {
        var result = false;

        $('#TipoEmpresa_Nombre').css("border", "1px solid #f44336");
        $('#TipoEmpresa_Nombre').css("border-left", "none");

        if ($('#TipoEmpresa_Nombre').val().length > 0) {
            $('#TipoEmpresa_Nombre').css("border", "1px solid #d9dee3");
            $('#TipoEmpresa_Nombre').css("border-left", "none");
        }

        if ($('#TipoEmpresa_Nombre').val().length > 0) {
            result = true;
        }

        return result;
    }
</script>

<script>

    function BtnRegistrarFuenteOrigen() {
        if (ValidaFuenteOrigen()) {
           
            var obj = {};
            obj['Nombre'] = $('#FuenteOrigen_Nombre').val();

            var jsonObject = {
                "CatFuenteOrigen": obj
            };

            $.ajax({
                type: "POST",
                url: "@Url.Action("FuenteOrigen_Agregar", "FuenteOrigen")",
                async: false,
                data: JSON.stringify(jsonObject),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (result) {
                    if (result.Id == -1) {
                        AlertWarning("Problemas al registrar ", "La fuente de origen ya se encuentra registrada.");
                    } else if (result.Id == 0) {
                        AlertDanger("Problemas al registrar ", "Fuente de origen no registrada.");
                    } else if (result.Id > 0) {
                        CargaFuenteOrigen(result.Id);
                    }
                },
                error: function () {
                    AlertDanger("Problemas al registrar ", "Fuente de orige no registrada.");
                }
            });
        } else {
            AlertIncompleto();
        }
    }

    function CargaFuenteOrigen(Id) {

        $.ajax({
            type: "POST",
            url: "@Url.Action("FuenteOrigen_Listar", "FuenteOrigen")",
            async: false,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                if (data.length > 0) {

                    $("#Empresa_FuenteOrigen").empty();

                    var option = $(document.createElement('option'));
                    option.text("SELECCIONAR");
                    option.val(0);

                    $("#Empresa_FuenteOrigen").append(option);

                    $(data).each(function () {
                        var option = $(document.createElement('option'));

                        option.text(this.Nombre.toUpperCase());
                        option.val(this.Id);

                        $("#Empresa_FuenteOrigen").append(option);
                    });
                }
                $('#Empresa_FuenteOrigen option[value="' + Id + '"]').attr("selected", true);
                $('#FuenteOrigen_Nombre').val('');
                $("#BtnFuenteOrigenCerrar").trigger("click");
                AlertSuccess('Registro exitoso !','Nueva fuente de origen registrada');
            },
            error: function () {
                AlertDanger("Problemas de conexión ", "Inténtelo mas tarde.");
            }
        });
    }

    function ValidaFuenteOrigen() {
        var result = false;

        $('#FuenteOrigen_Nombre').css("border", "1px solid #f44336");
        $('#FuenteOrigen_Nombre').css("border-left", "none");

        if ($('#FuenteOrigen_Nombre').val().length > 0) {
            $('#FuenteOrigen_Nombre').css("border", "1px solid #d9dee3");
            $('#FuenteOrigen_Nombre').css("border-left", "none");
        }

        if ($('#FuenteOrigen_Nombre').val().length > 0) {
            result = true;
        }

        return result;
    }
</script>

<script>

    function BtnRegistrarUnidadNegocio() {
        if (ValidaUnidadNegocio()) {

            var obj = {};
            obj['Nombre'] = $('#UnidadNegocio_Nombre').val();

            var jsonObject = {
                "CatUnidadNegocio": obj
            };

            $.ajax({
                type: "POST",
                url: "@Url.Action("UnidadNegocio_Agregar", "UnidadNegocio")",
                async: false,
                data: JSON.stringify(jsonObject),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (result) {
                    if (result.Id == -1) {
                        AlertWarning("Problemas al registrar ", "La unidad de negocio ya se encuentra registrada.");
                    } else if (result.Id == 0) {
                        AlertDanger("Problemas al registrar ", "Unidad de negocio no registrada.");
                    } else if (result.Id > 0) {
                        CargaUnidadNegocio(result.Id);
                    }
                },
                error: function () {
                    AlertDanger("Problemas al registrar ", "Unidad de negocio no registrada.");
                }
            });

        } else {
            AlertIncompleto();
        }
    }

    function CargaUnidadNegocio(Id) {
        $.ajax({
            type: "POST",
            url: "@Url.Action("UnidadNegocio_Listar", "UnidadNegocio")",
            async: false,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                if (data.length > 0) {

                    $("#Empresa_UnidadNegocio").empty();

                    var option = $(document.createElement('option'));
                    option.text("SELECCIONAR");
                    option.val(0);

                    $("#Empresa_UnidadNegocio").append(option);

                    $(data).each(function () {
                        var option = $(document.createElement('option'));

                        option.text(this.Nombre.toUpperCase());
                        option.val(this.Id);

                        $("#Empresa_UnidadNegocio").append(option);
                    });
                }
                $('#Empresa_UnidadNegocio option[value="' + Id + '"]').attr("selected", true);
                $('#UnidadNegocio_Nombre').val('');
                $("#BtnUnidadNegocioCerrar").trigger("click");
                AlertSuccess('Registro exitoso !','Nueva unidad de negocio registrada');
            },
            error: function () {
                AlertDanger("Problemas de conexión ", "Inténtelo mas tarde.");
            }
        });
    }

    function ValidaUnidadNegocio() {
        var result = false;

        $('#UnidadNegocio_Nombre').css("border", "1px solid #f44336");
        $('#UnidadNegocio_Nombre').css("border-left", "none");

        if ($('#UnidadNegocio_Nombre').val().length > 0) {
            $('#UnidadNegocio_Nombre').css("border", "1px solid #d9dee3");
            $('#UnidadNegocio_Nombre').css("border-left", "none");
        }

        if ($('#UnidadNegocio_Nombre').val().length > 0) {
            result = true;
        }

        return result;
    }
</script>


<script>
    const toastPlacementExample = document.querySelector('.toast-placement-ex');
    let selectedType, selectedPlacement, toastPlacement;

    function toastDispose(toast) {
        if (toast && toast._element !== null) {
            if (toastPlacementExample) {
                toastPlacementExample.classList.remove(selectedType);
                DOMTokenList.prototype.remove.apply(toastPlacementExample.classList, selectedPlacement);
            }
            toast.dispose();
        }
    }

    function AlertIncompleto() {

        if (toastPlacement) {
            toastDispose(toastPlacement);
        }

        selectedType = 'bg-primary';
        selectedPlacement = ['top-0', 'end-0'];

        toastPlacementExample.classList.add(selectedType);
        DOMTokenList.prototype.add.apply(toastPlacementExample.classList, selectedPlacement);
        toastPlacement = new bootstrap.Toast(toastPlacementExample);
        toastPlacement.show();

        var fecha = new Date();
        var hora = fecha.toLocaleTimeString();
        $("#AlertaFecha").text(hora);
        $("#AlertaTitulo").text("Formulario incompleto");
        $("#AlertaTexto").text("Completa la información del formulario.");
    }

    function AlertWarning(titulo, texto) {

        if (toastPlacement) {
            toastDispose(toastPlacement);
        }

        selectedType = 'bg-warning';
        selectedPlacement = ['bottom-0', 'end-0'];

        toastPlacementExample.classList.add(selectedType);
        DOMTokenList.prototype.add.apply(toastPlacementExample.classList, selectedPlacement);
        toastPlacement = new bootstrap.Toast(toastPlacementExample);
        toastPlacement.show();

        var fecha = new Date();
        var hora = fecha.toLocaleTimeString();
        $("#AlertaFecha").text(hora);
        $("#AlertaTitulo").text(titulo);
        $("#AlertaTexto").text(texto);
    }

    function AlertDanger(titulo, texto) {

        if (toastPlacement) {
            toastDispose(toastPlacement);
        }

        selectedType = 'bg-danger';
        selectedPlacement = ['bottom-0', 'end-0'];
        toastPlacementExample.classList.add(selectedType);
        DOMTokenList.prototype.add.apply(toastPlacementExample.classList, selectedPlacement);
        toastPlacement = new bootstrap.Toast(toastPlacementExample);
        toastPlacement.show();

        var fecha = new Date();
        var hora = fecha.toLocaleTimeString();
        $("#AlertaFecha").text(hora);
        $("#AlertaTitulo").text(titulo);
        $("#AlertaTexto").text(texto);
    }

    function AlertDanger(titulo, texto) {

        if (toastPlacement) {
            toastDispose(toastPlacement);
        }

        selectedType = 'bg-danger';
        selectedPlacement = ['bottom-0', 'end-0'];
        toastPlacementExample.classList.add(selectedType);
        DOMTokenList.prototype.add.apply(toastPlacementExample.classList, selectedPlacement);
        toastPlacement = new bootstrap.Toast(toastPlacementExample);
        toastPlacement.show();

        var fecha = new Date();
        var hora = fecha.toLocaleTimeString();
        $("#AlertaFecha").text(hora);
        $("#AlertaTitulo").text(titulo);
        $("#AlertaTexto").text(texto);
    }

    function AlertSuccess(titulo, texto) {

        if (toastPlacement) {
            toastDispose(toastPlacement);
        }

        selectedType = 'bg-success';
        selectedPlacement = ['top-0', 'end-0'];
        toastPlacementExample.classList.add(selectedType);
        DOMTokenList.prototype.add.apply(toastPlacementExample.classList, selectedPlacement);
        toastPlacement = new bootstrap.Toast(toastPlacementExample);
        toastPlacement.show();

        var fecha = new Date();
        var hora = fecha.toLocaleTimeString();
        $("#AlertaFecha").text(hora);
        $("#AlertaTitulo").text(titulo);
        $("#AlertaTexto").text(texto);
    }
</script>

<script>
    function BusquedaEmpresaNombre(e) {
        e.value = e.value.toUpperCase();

        if (e.value.length > 0) {
            var obj = {};
            obj['Nombre'] = e.value.toUpperCase();

            var jsonObject = {
                "Empresa": obj
            };

            $.ajax({
                type: "POST",
                url: "@Url.Action("Empresa_Buscar_Nombre", "Empresa")",
                async: false,
                data: JSON.stringify(jsonObject),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    if (data.length > 0) {

                        var Table =
                        "<table class='table table-sm table-striped table-hover'>" +
                            "<thead>" +
                                "<tr>" +
                                    "<th>Empresa</th>" +
                                    "<th>Estatus</th>" +
                                    "<th>Acciones </th>" +
                                "</tr>" +
                            "</thead>" +
                            "<tbody class='table-border-bottom-0'>";
                        for (var b = 0; b < data.length; b++) {
                        Table +=
                            "<tr>" +
                            "<td><i class='fab fa-angular fa-lg text-danger me-3'></i> <strong>" + data[b].Nombre + "</strong></td>" +

                                "<td><span class='badge bg-label-primary me-1'>Activo</span></td>" +
                                "<td>" +
                                    "<div class='dropdown'>" +
                                        "<button type='button' class='btn p-0 dropdown-toggle hide-arrow' data-bs-toggle='dropdown'>" +
                                            "<i class='bx bx-dots-vertical-rounded'></i>" +
                                        "</button>" +
                                        "<div class='dropdown-menu'>" +
                                            "<a class='dropdown-item' href='javascript:void(0);'><i class='bx bx-edit-alt me-1'></i> Ediatar</a>" +
                                        "</div>" +
                                    "</div>" +
                                "</td>" +
                            "</tr>";
                        }
                        
                       Table +=
                            "</tbody>" +
                        "</table>";

                        $('#TablaBusquedaEmpresa').html(Table);

                        if (data[0].Busqueda == 1) {
                            $("#BtnAbrirBusqueda").trigger("click");
                        } else if (data[0].Busqueda == 0) {
                            $("#BtnBusquedaEmpresaCerrar").trigger("click");
                        }

                      
                    }
                },
                error: function () {
                    AlertDanger("Problemas de conexión ", "Inténtelo mas tarde.");
                }
            });
        }
        e.focus();
    }
</script>

<script>

    $(document).ready(function () {
        $("#Empresa_Industria").select2();
        $("#Empresa_Tipo").select2();
        $("#Empresa_FuenteOrigen").select2();
        $("#Empresa_UnidadNegocio").select2();
        $("#Empresa_Propietario").select2();
    });

    function ValidaInput(name) {
        if ($('#' + name).val().length > 0) {
            $('#' + name).css("border", "1px solid #d9dee3");
            $('#' + name).css("border-left", "none");
        } else {
            $('#' + name).css("border", "1px solid #f44336");
        }
    }

    function ValidaSelect(name) {
        if ($('#' + name + ' option:selected').val() > 0) {
            $('#select2-' + name + '-container').css("border", "0px solid #d9dee3");
            $('#' + name).css("border", "1px solid #d9dee3");
        } else {
            $('#' + name).css("border", "1px solid #f44336");
            $('#select2-' + name + '-container').css("border", "1px solid #f44336");
        }
    }

    function Letras(e) {

        key = e.keyCode || e.which;
        tecla = String.fromCharCode(key).toLowerCase();
        letras = " áéíóúabcdefghijklmnñopqrstuvwxyz ";
        especiales = [8, 37, 39, 46];

        tecla_especial = false
        for (var i in especiales) {
            if (key == especiales[i]) {
                tecla_especial = true;
                break;
            }
        }
        if (letras.indexOf(tecla) == -1 && !tecla_especial)
            return false;
    }

    function Numeros(e) {
        key = e.keyCode || e.which;
        tecla = String.fromCharCode(key).toLowerCase();
        letras = "1234567890";
        especiales = [8, 37, 39, 46];

        tecla_especial = false
        for (var i in especiales) {
            if (key == especiales[i]) {
                tecla_especial = true;
                break;
            }
        }
        if (letras.indexOf(tecla) == -1 && !tecla_especial)
            return false;
    }

    function Mayus(e) {
        e.value = e.value.toUpperCase();
    }
</script>
<script>
    $('#Nv1Empresa').addClass("active open");
    $('#Nv1EmpresaCrear').addClass("active");
</script>